.main {
    background-color: #282c34;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.invoice-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1
}

.lsat-view {
    margin-bottom: 200px;
}

.lsat-view .authenticated {
    text-align: center;
    color: coral;
    margin-top: 50px;
}

form {
    width: 500px;
}

.form-row {
    margin-bottom: 1rem;
}

.form-row label {
    display: block;
    width: 100%;
}

input.amount {
    width: 40%;
}

textarea {
    width: 100%;
    height: 40px;
    resize: none;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

footer a {
    color: #76fd59;
    text-decoration: none;
}

footer span {
    width: 100%;
    margin-bottom: 1rem;
}
