
.main {
    font-size: 1.5rem;
    color: white;
    background-color: #282c34;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
}

header .user {
    margin-right: 2rem;
    font-size: 1rem;
}

.content {
    justify-content: left;
    font-size: 1.5rem;
    color: white;
    margin-left: 1.5rem;
    padding-right: 1.5rem;
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}


footer {
    font-size: 1rem;
    text-align: center;
}

a {
    color: #76fd59;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
    margin-right: auto;
    margin-left: 1.5rem;
    flex-grow: 1;
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

footer span {
    width: 100%;
    margin-bottom: 1rem;
}


.invoice-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1
}

.lsat-view {
    margin-bottom: 200px;
}

.lsat-view .authenticated {
    text-align: center;
    color: coral;
    margin-top: 50px;
}

.lsat-view button{
    font-size: 1.4rem;
}

form {
    width: 300px;
}

.form-row {
    margin-bottom: 1rem;
}

.form-row label {
    display: block;
    width: 100%;
}

input.amount {
    width: 40%;
}

textarea {
    width: 100%;
    height: 40px;
    resize: none;
}

.blog {
    margin-bottom: 50px;
}
