$primaryColor: #E76F51;
$secondaryColor: #FFFFFF;
$linkColor: #264653;
$linkColor2: #2A9D8F;

body {
    background-color: $primaryColor;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.main {
    font-size: 1.5rem;
    color: $secondaryColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 980px) {
    header { margin-left: 0;}
}

@media (min-width: 980px) {
    main { margin-left: 30%}
}

header .user {
    margin-right: 2rem;
    font-size: 1rem;
}

.content {
    justify-content: left;
    font-size: 1.5rem;
    color: $secondaryColor;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex-grow: 1; /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto; /* adds scroll to this container */
    max-width: 1000px;
    padding-bottom: 2rem;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}



footer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
}

a {
    color: $secondaryColor;
    text-decoration: underline;
    font-weight: bolder;
    transition: color 0.2s ease;
}

a:hover {
    color: $linkColor2;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
    margin-right: auto;
    margin-left: 1.5rem;
    flex-grow: 1;
    font-size: 3.3rem;
    text-align: center;
    font-family: 'Shadows Into Light', 'Verdana', cursive;
}


h2 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Shadows Into Light', 'Verdana', cursive;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.invoice-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1
}

.lsat-view {
    display: flex;
    flex-direction: column;
}

.lsat-view .authenticated {
    text-align: center;
    color: $secondaryColor;
}

.lsat-view button {
    font-size: 1.4rem;
    align-self: center;
    max-width: 12rem;
}

.lsat-view .troubleshoot {
    display: flex;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 200px;
    margin: 1rem;
}

.troubleshoot a {
    flex-grow: 1;
}

form {
    width: 300px;
}

.form-row {
    margin-bottom: 1rem;
}

.form-row label {
    display: block;
    width: 100%;
}

input.amount {
    width: 40%;
}

textarea {
    width: 100%;
    height: 40px;
    resize: none;
}

.blog {
    margin-bottom: 50px;
}

.centered {
    align-self: center;
}

.centered-text {
    text-align: center;
}

.block {
    margin-bottom: 1rem;
}

.block-xl {
    margin-bottom: 2rem;
}

.block-xxl {
    margin-top: 4rem;
}

.button {
    background: none;
    color: inherit;
    border: 2px solid $secondaryColor;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 12rem;
    border-radius: 10px;
    transform: scale(1.0);
    transition: transform 0.1s ease;
}

.button:hover {
    transform: scale(1.1)
}

.gallery-sample {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ai-image {
    width: 200px;
    height: 200px;
}

.carousel-image {
    width: 300px;
    height: 300px;
}

.grow {
    flex-grow: 1;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-row {
    display: flex;
    justify-content: center;
}

.minigallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
}

.minigallery-container {
    margin-top: 4rem;
}

.minigallery img {
    width: 170px;
    height: 170px;
    padding: 1rem;
}


.pagetext {
    margin:2px;
    text-align: center;
}

.ticketbooth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticketbooth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (min-width: 300px) {
    .carousel-container {
        width: 300px;
    }

    .carousel-image {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 700px) {
    .carousel-container {
        width: 512px;
    }

    .carousel-image {
        width: 512px;
        height: 512px;
    }
}

$gallery-size: 800px;

@media screen and (min-width: $gallery-size) {
    .carousel-container {
        width: $gallery-size;
    }

    .carousel-image {
        width: $gallery-size;
        height: $gallery-size;
    }
}

.gallery-title {
    font-size: 10rem;
}